<div th:fragment="pie-pagina" class="container">
	<div id="conFooter" class="container">
		<img th:src="@{/images/sep-logo-unicauca.gif}" width="970" height="75">
		<p>
			&copy; 2020 ProyectoPrueba, Inc. | WebApp Desarrollada con Spring
			Boot 2.3.3 | Autor: ASAE | &middot; <a href="http://unicauca.edu.co">Unicauca</a>
			&middot; <a href="#">Terms</a>
		</p>
	</div>
	<div id="sepNegroFooterInf">
		<!-- separador del footer inferior -->
	</div>
	<div id="conFooterInferior">
		<div id="fonIzqFooterInf">
			<!-- Fondo izquierdo de footer inferior -->
		</div>
		
		<div id="conContenidoFooterInf">
			<span id="footerInfDireccion">Instituci&oacuten con Acreditaci&oacuten de Alta Calidad por 8 a&ntildeos (Resoluci&oacuten MEN 6218 de 2019)</span>
			<span id="footerInfDireccion">Calle 5 N 4-70 - Tel&eacutefono +57 (2)
				8209900 - L&iacutenea gratuita 018000 949020 - NIT 891500319-2</span>
			<span id="footerInfDireccion">Popay&aacuten Colombia - Vigilada Mineducaci&oacute</span>
		
		</div>
		<div id="fonDerFooterInf">
			<!-- Fondo derecho de footer inferior -->
		</div>
		<div class="clear"></div>
	</div>
</div>