<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!--
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
-->
</head>
<body>

<div class="container-fluid bg-primary py-5">
<div class="container text-white">
		<h1 class="display-3"><b>Layout</b></h1>
		<p class="lead">Un párrafo Un párrafo  Un párrafo  Un párrafo Un párrafo Un párrafo Un párrafo Un párrafo Un párrafo </p>
  	</div>
</div>
<div class="container">
<div class="row">
<div class="col-4 bg-primary">
		<h3>col-4</h3>
		<p>Un párrafo un párrafo Un párrafo un párrafo Un párrafo un párrafo</p>
	</div>
	<div class="col-4 bg-success">
		<h3>col-4</h3>
		<p>Un párrafo un párrafo Un párrafo un párrafo Un párrafo un párrafo</p>
	</div>
	<div class="col-4 bg-primary">
		<h3>col-4</h3>
		<p>Un párrafo un párrafo Un párrafo un párrafo Un párrafo un párrafo</p>
	</div>
</div>
</div>
<div class="container">
<div class="row bg-success text-white alto align-items-center justify-content-between">
		<div class="col-md-4">Este es un párrafo, Este es un párrafo, Este es un párrafo</div>
		<div class="col-md-4">Este es un párrafo, Este es un párrafo, Este es un párrafo</div>
		<div class="col-md-4">Este es un párrafo, Este es un párrafo, Este es un párrafo</div>		
	</div>	
  </div>
<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>




<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>